In [19]:
import pandas as pd

In [21]:
df=pd.read_csv('dataset-2.csv')
df.head(3)

   ï»¿id_start   id_end  distance
0      1001400  1001402       9.7
1      1001402  1001404      20.2
2      1001404  1001406      16.0

In [23]:
df.rename(columns={df.columns[0]: 'id_start'}, inplace=True)

Question 09

In [33]:

def calculate_distance_matrix(df):

    distances = {}

    for index, row in df.iterrows():
        source = row['id_start']
        target = row['id_end']
        distance = row['distance']

        distances[(source, target)] = distance
        distances[(target, source)] = distance 
    unique_locations = sorted(list(set(df['id_start'].unique()) | set(df['id_end'].unique())))

    distance_matrix = pd.DataFrame(index=unique_locations, columns=unique_locations)
    distance_matrix = distance_matrix.fillna(0)

    for start_location in unique_locations:
        for end_location in unique_locations:
            if start_location == end_location:
                distance_matrix.loc[start_location, end_location] = 0
            else:            
                path_distance = 0
                try:
                    path_distance = distances[(start_location, end_location)]
                except KeyError:
                    for intermediate_location in unique_locations:
                        if intermediate_location != start_location and intermediate_location != end_location:
                            try:
                                distance1 = distances[(start_location, intermediate_location)]
                                distance2 = distances[(intermediate_location, end_location)]
                                if distance1 and distance2:
                                    path_distance = max(path_distance, distance1 + distance2)
                            except KeyError:
                                continue


                distance_matrix.loc[start_location, end_location] = path_distance

    return distance_matrix


distance_matrix = calculate_distance_matrix(df)
df2_r=pd.DataFrame(distance_matrix)
df2_r.head(5)

,1001400,1001402,1001404,1001406,1001408,1001410,1001412,1001414,1001416,1001418,...,1001462,1001464,1001466,1001468,1001470,1001472,1001488,1004354,1004355,1004356
1001400,0.0,9.7,29.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001402,9.7,0.0,20.2,36.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001404,29.9,20.2,0.0,16.0,37.7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001406,0.0,36.2,16.0,0.0,21.7,32.8,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001408,0.0,0.0,37.7,21.7,0.0,11.1,26.7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Question 10

In [29]:
def unroll_distance_matrix(df):
    rows = []
    for id_start in df.index:
        for id_end in df.columns:
            if id_start != id_end:
                distance = df.loc[id_start, id_end]
                rows.append({'id_start': id_start, 'id_end': id_end, 'distance': distance})
    return pd.DataFrame(rows)

In [39]:
new_1=unroll_distance_matrix(df2_r)
new_1

      id_start   id_end  distance
0      1001400  1001402       9.7
1      1001400  1001404      29.9
2      1001400  1001406       0.0
3      1001400  1001408       0.0
4      1001400  1001410       0.0
...        ...      ...       ...
1801   1004356  1001470       0.0
1802   1004356  1001472       0.0
1803   1004356  1001488       4.0
1804   1004356  1004354       2.0
1805   1004356  1004355       4.0

[1806 rows x 3 columns]

Question 11

In [35]:
def find_ids_within_ten_percentage_threshold(df, reference_value):
  avg_distances = df.groupby('id_start')['distance'].mean()
  reference_avg_distance = avg_distances[reference_value]
  lower_bound = reference_avg_distance * 0.9
  upper_bound = reference_avg_distance * 1.1

  within_threshold_ids = sorted([
      id_start for id_start, avg_distance in avg_distances.items()
      if lower_bound <= avg_distance <= upper_bound
  ])

  return within_threshold_ids

In [41]:
find_ids_within_ten_percentage_threshold(new_1,1001400)

[1001400, 1001472]

In [45]:
def calculate_toll_rate(df):
  df['moto'] = df['distance'] * 0.8
  df['car'] = df['distance'] * 1.2
  df['rv'] = df['distance'] * 1.5
  df['bus'] = df['distance'] * 2.2
  df['truck'] = df['distance'] * 3.6
  return df

df_with_toll = calculate_toll_rate(df)

In [47]:
df_with_toll.sample(2)

    id_start   id_end  distance   moto    car     rv    bus  truck
9    1001418  1001420      12.9  10.32  15.48  19.35  28.38  46.44
27   1004355  1001444       0.7   0.56   0.84   1.05   1.54   2.52

In [49]:
from datetime import time


def calculate_time_based_toll_rates(df_11):
  df_time_based = df_11.copy()
  time_ranges = [
      (time(0, 0, 0), time(10, 0, 0), 0.8),  
      (time(10, 0, 0), time(18, 0, 0), 1.2),  
      (time(18, 0, 0), time(23, 59, 59), 0.8),  
  ]
  weekend_discount_factor = 0.7
  df_time_based['start_day'] = ''
  df_time_based['start_time'] = None
  df_time_based['end_day'] = ''
  df_time_based['end_time'] = None

  for index, row in df_time_based.iterrows():

    for day in range(7):
        weekday = (day)

        if weekday < 5:

          for start_time, end_time, discount_factor in time_ranges:

            df_time_based.loc[index,'start_day'] = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'][weekday]
            df_time_based.loc[index,'start_time'] = start_time
            df_time_based.loc[index,'end_day'] = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'][weekday]
            df_time_based.loc[index,'end_time'] = end_time

            for vehicle_type in ['moto', 'car', 'rv', 'bus', 'truck']:
                df_time_based.loc[index, vehicle_type] = df_time_based.loc[index, vehicle_type] * discount_factor
        else:

            df_time_based.loc[index,'start_day'] = ['Saturday', 'Sunday'][weekday-5]
            df_time_based.loc[index,'start_time'] = time(0, 0, 0)
            df_time_based.loc[index,'end_day'] = ['Saturday', 'Sunday'][weekday-5]
            df_time_based.loc[index,'end_time'] = time(23, 59, 59)


            for vehicle_type in ['moto', 'car', 'rv', 'bus', 'truck']:
                df_time_based.loc[index, vehicle_type] = df_time_based.loc[index, vehicle_type] * weekend_discount_factor
  return df_time_based

df_time_based_toll_rates=calculate_time_based_toll_rates(df_with_toll)
print(df_time_based_toll_rates.head(2))

   id_start   id_end  distance      moto       car        rv       bus  \
0   1001400  1001402       9.7  1.015930  1.523895  1.904869  2.793808
1   1001402  1001404      20.2  2.115649  3.173473  3.966841  5.818034

      truck start_day start_time end_day  end_time
0  4.571686    Sunday   00:00:00  Sunday  23:59:59
1  9.520419    Sunday   00:00:00  Sunday  23:59:59

In [51]:
pd.DataFrame(df_time_based_toll_rates)

,id_start,id_end,distance,moto,car,rv,bus,truck,start_day,start_time,end_day,end_time
0,1001400,1001402,9.7,1.015930,1.523895,1.904869,2.793808,4.571686,Sunday,00:00:00,Sunday,23:59:59
1,1001402,1001404,20.2,2.115649,3.173473,3.966841,5.818034,9.520419,Sunday,00:00:00,Sunday,23:59:59
2,1001404,1001406,16.0,1.675761,2.513642,3.142052,4.608344,7.540926,Sunday,00:00:00,Sunday,23:59:59
3,1001406,1001408,21.7,2.272751,3.409127,4.261409,6.250066,10.227381,Sunday,00:00:00,Sunday,23:59:59
4,1001408,1001410,11.1,1.162559,1.743839,2.179799,3.197038,5.231517,Sunday,00:00:00,Sunday,23:59:59
5,1001410,1001412,15.6,1.633867,2.450801,3.063501,4.493135,7.352403,Sunday,00:00:00,Sunday,23:59:59
6,1001412,1001414,18.2,1.906178,2.859268,3.574085,5.241991,8.577803,Sunday,00:00:00,Sunday,23:59:59
7,1001414,1001416,13.2,1.382503,2.073755,2.592193,3.801883,6.221264,Sunday,00:00:00,Sunday,23:59:59
8,1001416,1001418,13.6,1.424397,2.136596,2.670745,3.917092,6.409787,Sunday,00:00:00,Sunday,23:59:59
9,1001418,1001420,12.9,1.351083,2.026624,2.533280,3.715477,6.079871,Sunday,00:00:00,Sunday,23:59:59
10,1001420,1001422,9.6,1.005457,1.508185,1.885231,2.765006,4.524555,Sunday,00:00:00,Sunday,23:59:59
11,1001422,1001424,11.4,1.193980,1.790970,2.238712,3.283445,5.372910,Sunday,00:00:00,Sunday,23:59:59
12,1001424,1001426,18.6,1.948072,2.922109,3.652636,5.357199,8.766326,Sunday,00:00:00,Sunday,23:59:59
13,1001426,1001428,15.8,1.654814,2.482221,3.102777,4.550739,7.446664,Sunday,00:00:00,Sunday,23:59:59
14,1001428,1001430,8.6,0.900722,1.351083,1.688853,2.476985,4.053248,Sunday,00:00:00,Sunday,23:59:59
15,1001430,1001432,9.0,0.942616,1.413924,1.767404,2.592193,4.241771,Sunday,00:00:00,Sunday,23:59:59
16,1001432,1001434,7.9,0.827407,1.241111,1.551388,2.275370,3.723332,Sunday,00:00:00,Sunday,23:59:59
17,1001434,1001436,4.0,0.418940,0.628410,0.785513,1.152086,1.885231,Sunday,00:00:00,Sunday,23:59:59
18,1001436,1001438,9.0,0.942616,1.413924,1.767404,2.592193,4.241771,Sunday,00:00:00,Sunday,23:59:59
19,1001436,1001437,5.0,0.523675,0.785513,0.981891,1.440107,2.356539,Sunday,00:00:00,Sunday,23:59:59
20,1001438,1001437,4.0,0.418940,0.628410,0.785513,1.152086,1.885231,Sunday,00:00:00,Sunday,23:59:59
21,1001438,1001440,10.0,1.047351,1.571026,1.963783,2.880215,4.713079,Sunday,00:00:00,Sunday,23:59:59
22,1001440,1001442,3.9,0.408467,0.612700,0.765875,1.123284,1.838101,Sunday,00:00:00,Sunday,23:59:59
23,1001442,1001488,4.5,0.471308,0.706962,0.883702,1.296097,2.120885,Sunday,00:00:00,Sunday,23:59:59
24,1001488,1004356,4.0,0.418940,0.628410,0.785513,1.152086,1.885231,Sunday,00:00:00,Sunday,23:59:59
25,1004356,1004354,2.0,0.209470,0.314205,0.392757,0.576043,0.942616,Sunday,00:00:00,Sunday,23:59:59
26,1004354,1004355,2.0,0.209470,0.314205,0.392757,0.576043,0.942616,Sunday,00:00:00,Sunday,23:59:59
27,1004355,1001444,0.7,0.073315,0.109972,0.137465,0.201615,0.329916,Sunday,00:00:00,Sunday,23:59:59
28,1001444,1001446,6.6,0.691252,1.036877,1.296097,1.900942,3.110632,Sunday,00:00:00,Sunday,23:59:59
29,1001446,1001448,9.6,1.005457,1.508185,1.885231,2.765006,4.524555,Sunday,00:00:00,Sunday,23:59:59
30,1001448,1001450,15.7,1.644341,2.466511,3.083139,4.521937,7.399533,Sunday,00:00:00,Sunday,23:59:59
31,1001450,1001452,9.9,1.036877,1.555316,1.944145,2.851413,4.665948,Sunday,00:00:00,Sunday,23:59:59
32,1001452,1001454,11.3,1.183506,1.775260,2.219074,3.254643,5.325779,Sunday,00:00:00,Sunday,23:59:59
33,1001454,1001456,13.6,1.424397,2.136596,2.670745,3.917092,6.409787,Sunday,00:00:00,Sunday,23:59:59
34,1001456,1001458,8.9,0.932142,1.398213,1.747767,2.563391,4.194640,Sunday,00:00:00,Sunday,23:59:59
35,1001458,1001460,5.1,0.534149,0.801223,1.001529,1.468909,2.403670,Sunday,00:00:00,Sunday,23:59:59
36,1001460,1001461,12.8,1.340609,2.010914,2.513642,3.686675,6.032741,Sunday,00:00:00,Sunday,23:59:59
37,1001460,1001462,17.9,1.874758,2.812137,3.515171,5.155584,8.436411,Sunday,00:00:00,Sunday,23:59:59
38,1001461,1001462,5.1,0.534149,0.801223,1.001529,1.468909,2.403670,Sunday,00:00:00,Sunday,23:59:59
39,1001462,1001464,26.7,2.796427,4.194640,5.243300,7.690173,12.583920,Sunday,00:00:00,Sunday,23:59:59
40,1001464,1001466,8.5,0.890248,1.335372,1.669215,2.448182,4.006117,Sunday,00:00:00,Sunday,23:59:59
41,1001466,1001468,10.7,1.120665,1.680998,2.101248,3.081830,5.042994,Sunday,00:00:00,Sunday,23:59:59
42,1001468,1001470,10.6,1.110192,1.665288,2.081610,3.053028,4.995863,Sunday,00:00:00,Sunday,23:59:59
43,1001470,1001472,16.0,1.675761,2.513642,3.142052,4.608344,7.540926,Sunday,00:00:00,Sunday,23:59:59